<!DOCTYPE html>
<html>
<head>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

</head>
<body>
   <h1>My IP:{{this.myip}}</h1>


<script type="text/javascript">
</script>
 
</body>
</html>
